<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[*]System.*</Exclude>
          <Exclude>[*]Microsoft.*</Exclude>
          <Exclude>[*]Amazon.Lambda.Core.*</Exclude>
          <Exclude>[*]Amazon.Lambda.TestUtilities.*</Exclude>
          <Exclude>[*]Moq.*</Exclude>
          <Exclude>[*]Xunit.*</Exclude>
          <Exclude>[*]Lambda_Authenticator.Function/&lt;FunctionHandler&gt;d__2.MoveNext</Exclude>
          <Exclude>[*]Lambda_Authenticator.Function/&lt;ValidateJwtToken&gt;d__3.MoveNext</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings> 